<section>
    <form class="search-form">
        <div class="search-bar">
            <input type="text" placeholder="Search transaction" #filter>
            <button type="button" (click)="filterTransactions(filter.value)">Search</button>
        </div>
        <div class="add-transaction-button">
            <a [routerLink]="['add-transaction']"><button type=button>Add a transaction</button></a>
        </div>
    </form>
</section>
<section>
    <app-transaction-table [transactions]="filteredTransactions">
    </app-transaction-table>
</section>
